@font-face {
    font-family: "Royalacid";     
    src: url("../../fonts/royalacidbath/Royalacid.TTF");
}

body {
    background: url("../../images/background.jpg") repeat-y;   
    background-size:100%;
    color:#000000;

    font-family:Royalacid;
    font-weight:100;
    font-size:20px;
}

.mainwrapper {
    background: url("../../images/wrapper-background.jpg");   
    background-size:100%;

    width:1150px;
    padding:50px;

    margin:0 auto;  
}

.maintitle {
    opacity:0.9;
    color:#ffffff;   

    padding:15px 0;

    font-size:26px;
}

.menu {
    color:#ffffff;
}

th {
    background-color:#35527a;
    color:#ffffff;

    padding:10px 15px;
}

td {
    background-color:#252525;    

    border:2px solid #727375;    

    padding:10px 20px;
}

.booked { 
    background-color:#929292;
    color:#ffffff;
    opacity:1;
         
    border:0;
}

.dish-image {
    vertical-align:middle;
    display:inline;

    margin:0;

    width:180px;
    height:120px;
}

.add { 
    background:none;

    border:0;
}

.remove {
    background:none;

    border:0;
}

button {
    background-color:#00bdb1;
    color:#ffffff;

    border:0;
    border-radius:5px;
    cursor:pointer;

    padding:15px;
    margin:10px 10px 0 0;

    font-weight:100;
    font-size:18px;
    font-family:Royalacid;
}

.user-choice {
    display:none;
    color:#ffffff;
}