<!doctype html>
<html lang="en" ng-app="restaurantApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link type="text/css" rel="stylesheet" href="../CSS/reset.css" />
    <link type="text/css" rel="stylesheet" href="../CSS/styles.css"/>       
</head>
<body>
    <div class="wrapper">
        <nav>
            <ul class="navlist">
                <li><a href="">Main</a></li>
                <li><a href="">Client</a></li>
                <li><a href="">Cook</a></li>
                <li><a href="">Stock</a></li>
            </ul>
        </nav>          
        <button class="navbutton" ng-controller="IngredientsController" ng-click="createPizza()">Create pizza</button>
        <div class="content">      
            <div ng-controller="PizzaController" class="pizza">
                <h2>Pizza</h2>
                <table>
                    <tr>
                        <th>№</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Diameter</th>
                        <th>Photo</th>        
                        <th><span>Composition</span></th>                                       
                    </tr>
                    <tr ng-repeat="pizza in pizza">
                        <td>{{$index + 1}}</td>
                        <td>{{pizza.name}}</td>
                        <td>{{getPizzaPriceById($index)}}</td>
                        <td>{{pizza.diameter}}</td>
                        <td class="pizza-image"><img src="{{pizza.photo}}" /></td>
                        <td>
                            <span class="ingredients-viewer" ng-click="showPopup()">Show Ingredients</span>
                            <div class="ingredients-popup">
                                <table>
                                    <tr>
                                        <th>Name</th>                                        
                                        <th>Photo</th>
                                        <th>Price</th>
                                        <th>Count</th>
                                    </tr>
                                    <tr ng-repeat="ingredient in pizza.ingredients">
                                        <td>{{getNameById(ingredient.id)}}</td>
                                        <td class="pizza-image"><img src="{{getPhotoById(ingredient.id)}}" /></td>
                                        <td>{{getPriceById(ingredient.id)}}</td>
                                        <td>{{ingredient.count}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="add"><button ng-click="createCustomOrder(pizza)">Add</button></td>                        
                    </tr>    
                </table>
            </div>
                           
            <div ng-controller="IngredientsController" class="ingredients">                
                <h2>Ingredients</h2>
                <div ng-repeat="item in model">
                    <h3>{{item.family}}</h3>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Photo</th>
                            <th>Price</th>
                        </tr>
                        <tr ng-repeat="kind in item.kinds">
                            <td>{{kind.name}}</td>
                            <td>{{kind.weight}}</td>
                            <td>{{kind.photo}}</td>
                            <td>{{kind.price}}</td>
                            <td class="add"><button ng-click="addIngredient(kind)" >Add</button></td>
                        </tr>
                    </table>
                </div>                            
            </div>

            <div ng-controller="OrderController" class="orders">
                <div class="order-list" ng-show="order.pizza.length > 0">
                    <h2>Order</h2>               
                    <table>
                        <tr>
                            <th>№</th>
                            <th>Name</th>                        
                            <th>Composition</th>
							<th>Count</th>
                        </tr>
                        <tr ng-repeat="item in order.pizza">
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>                        
                            <td>
                                <span class="ingredients-viewer" ng-click="showIngredients($index)">Show Ingredients</span>                            
                            </td>  
							<td>{{item.count}}</td>
                            <td class="delete"><button ng-click="deleteOrder($index)">Delete</button></td>
                            <td class="delete"><button ng-click="">Edit</button></td>
                        </tr>                                       
                    </table>         
                </div>
                <div class="order-ingredients-popup">
                    <h3>Indgredients</h3>
                    <table>
                        <tr>
                            <th>Name</th>                                        
                            <th>Photo</th>
                            <th>Price</th>
                            <th>Count</th>                    
                        </tr>
                        <tr ng-repeat="ingredient in currentPizza.ingredients">
                            <td>{{getNameById(ingredient.id)}}</td>
                            <td class="pizza-image"><img src="{{getPhotoById(ingredient.id)}}" /></td>
                            <td>{{getPriceById(ingredient.id)}}</td>
                            <td>{{ingredient.count}}</td>
							<td class="delete"><button ng-click="deleteIngredient(ingredient)">Delete</button></td>
							<td class="delete"><button ng-click="incrementIngredient(ingredient)">More</button></td>
							<td class="delete"><button ng-click="decrementIngredient(ingredient)">Less</button></td>
                        </tr>                
                    </table>                                
                </div> 
                <p ng-show="order.sum > 0">Order price  {{order.sum}}</p>                                      
                <button ng-show="order.sum > 0" class="confirm">Confirm Order</button>
            </div>
        </div>
        
    </div>
    
    <script src="../JS/jquery/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="../JS/jquery/jquery.bpopup.min.js" type="text/javascript"></script>
    <script src="../JS/jquery/jquery-ui.min.js"></script>

    <script src="../JS/angular/angular.js"></script>

    <script src="../JS/model/ingredientModel.js"></script>
    <script src="../JS/model/pizzaModel.js"></script>

    <script src="../JS/service/orderService.js"></script>
    <script src="../JS/service/ingredientService.js"></script>
    <script src="../JS/service/pizzaService.js"></script>

    <script src="../JS/controller/ingredientsController.js"></script>
    <script src="../JS/controller/orderController.js"></script>
    <script src="../JS/controller/pizzaController.js"></script> 
    

</body>
</html>